rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isUserAdmin() {
      return
        request.auth != null &&
        request.auth.uid != null &&
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isAdmin == true;
    }

    function isPublished(resource) {
      return
        resource.data != null &&
        resource.data.published != null &&
        resource.data.published <= request.time;
    }

    match /blog/{blogId} {
      allow read: if isUserAdmin() || isPublished(resource);
      allow write: if isUserAdmin();
    }
    match /blogData/{blogId} {
      allow read: if  isUserAdmin() || isPublished(get(/databases/$(database)/documents/blog/$(blogId)));
      allow write: if isUserAdmin();
    }

    match /books/{bookId} {
      allow read;
      //allow write: if request.auth.uid != null
    }
    match /users/{userId} {
      allow read: if request.auth.uid == userId;
    }
  }
}
