<div class="container mx-auto">
  <div class="bg-base-100 p-4">
    <app-page-title>Zaloguj się</app-page-title>
    <div class="flex justify-center">
      <div class="w-full max-w-sm">
        <form [formGroup]="this.form" (ngSubmit)="signIn()">
          <fieldset
            class="fieldset bg-base-200 border-base-300 rounded-box border p-4"
          >
            <label class="label">E-mail</label>
            <input
              type="email"
              class="input w-full"
              placeholder="jan.kowalski@email.com"
              name="email"
              [class.input-error]="this.failed()"
              [formControl]="this.form.controls.email"
            />

            <label class="label">Hasło</label>
            <input
              type="password"
              class="input w-full"
              placeholder="••••••••"
              name="password"
              [class.input-error]="this.failed()"
              [formControl]="this.form.controls.password"
            />

            <button class="btn btn-neutral mt-4">Zaloguj się</button>
          </fieldset>
        </form>
      </div>
    </div>

    <div class="mb-16"></div>
  </div>
</div>
