<div class="container mx-auto">
  <div class="bg-base-300 m-4 p-4">
    <h1 class="mb-8 text-3xl">Moja księgarnia</h1>

    <p class="mb-8 text-sm text-gray-500">
      Na fioletowym parapecie siedział żółty balon filozoficznie rozważający
      sens kiszonego ogórka w kontekście międzygalaktycznych podróży chomików.
      Blog ten, jak puchaty jednorożec w kapciach, dryfuje po oceanie pomysłów,
      gdzie każda litera tańczy sambę z przecinkiem. Gdy cebula śpiewa serenady
      do tostera, wiesz, że jesteś we właściwym miejscu. Zapnij pasy i przygotuj
      się na treści, które nie mają sensu, ale mają duszę.
    </p>

    <div class="mb-8">
      <app-search [(value)]="this.booksService.filter" />
    </div>

    <div class="mb-16 flex flex-wrap items-stretch justify-evenly gap-8">
      @for (post of this.booksService.page(); track post.id) {
        <div class="card bg-base-100 max-w-xs rounded-none">
          <div class="card-body">
            <img
              [src]="`https://picsum.photos/id/${post.id}/100/141`"
              alt="Shoes"
            />
            <div class="text-sm font-bold">{{ post.title }}</div>
            <div class="text-base-100 text-xs">{{ post.title }}</div>
          </div>
        </div>
        <!-- <div
        class="card card-sm rounded-none border-base-300 card-border bg-base-100 w-xs border-2"
      >
        <figure>
          <a [routerLink]="`/books/${post.id}`">
            <img
              [src]="`https://picsum.photos/id/${post.id}/768/1024`"
              alt="Shoes"
            />
          </a>
        </figure>
        <div class="card-body">
          <a [routerLink]="`/books/${post.id}`">
            <h2 class="card-title">
              {{ post.title }}
            </h2>
          </a>

          <p class="mb-2 text-gray-500">
            {{ post.date | date: "longDate" }}
          </p>

          <p>
            {{ post.teaser }}
          </p>

          <div class="card-actions justify-end">
            <a class="text-gray-500" [routerLink]="`/books/${post.id}`">
              Czytaj <fa-icon [icon]="faAnglesRight" />
            </a>
          </div>
        </div>
      </div> -->
      }
    </div>

    <div class="mb-4">
      <app-paginator
        [pageCount]="this.booksService.pageCount()"
        [pageNumber]="this.booksService.pageNumber()"
        (pageChanged)="this.booksService.pageNumber.set($event)"
      />
    </div>
  </div>
</div>
