<div class="container mx-auto">
  <div class="px-6">
    <h1 class="my-8 text-3xl">Moja księgarnia</h1>

    <p class="mb-12 text-sm text-gray-500">
      Na fioletowym parapecie siedział żółty balon filozoficznie rozważający sens
      kiszonego ogórka w kontekście międzygalaktycznych podróży chomików. Blog
      ten, jak puchaty jednorożec w kapciach, dryfuje po oceanie pomysłów, gdzie
      każda litera tańczy sambę z przecinkiem. Gdy cebula śpiewa serenady do
      tostera, wiesz, że jesteś we właściwym miejscu. Zapnij pasy i przygotuj się
      na treści, które nie mają sensu, ale mają duszę.
    </p>


  <app-search [value]="this.booksService.filter()" (changed)="this.booksService.filter.set($event)" />

  <div class="mb-16 flex flex-wrap items-stretch justify-evenly gap-y-16">
    @for (post of this.booksService.page(); track post.id) {
    <div class="w-xs border-2 border-base-300">
      <div class="p-4 flex gap-4">
        <img [src]="`https://picsum.photos/id/${post.id}/100/141`" alt="Shoes" />
        <div class="flex flex-col gap-2">
          <div class="text-sm font-bold">{{ post.title }}</div>
          <div class="text-xs text-base-100">{{ post.title }}</div>
        </div>
      </div>
    </div>
    <!-- <div
        class="card card-sm rounded-none border-base-300 card-border bg-base-100 w-xs border-2"
      >
        <figure>
          <a [routerLink]="`/books/${post.id}`">
            <img
              [src]="`https://picsum.photos/id/${post.id}/768/1024`"
              alt="Shoes"
            />
          </a>
        </figure>
        <div class="card-body">
          <a [routerLink]="`/books/${post.id}`">
            <h2 class="card-title">
              {{ post.title }}
            </h2>
          </a>

          <p class="mb-2 text-gray-500">
            {{ post.date | date: "longDate" }}
          </p>

          <p>
            {{ post.teaser }}
          </p>

          <div class="card-actions justify-end">
            <a class="text-gray-500" [routerLink]="`/books/${post.id}`">
              Czytaj <fa-icon [icon]="faAnglesRight" />
            </a>
          </div>
        </div>
      </div> -->
    }
  </div>

  <app-paginator [pageCount]="this.booksService.pageCount()" [pageNumber]="this.booksService.pageNumber()"
    (pageChanged)="this.booksService.pageNumber.set($event)" />
      </div>
    
</div>