<div class="container max-w-232 mx-auto">
    <h1 class="my-8 text-3xl">Blog</h1>

    <div class="flex flex-wrap justify-center ">
        @for (item of [1,2,3,4,5,6]; track item) {
        <div class="card bg-base-100 w-md mr-4 mb-4 shadow-sm">
            <figure>
                <img [src]="`https://picsum.photos/id/${item}/438/300`" alt="Shoes" />
            </figure>
            <div class="card-body">
                <h2 class="card-title">
                    Największym marudzeniem przez twoją rurkę nie jest katastrofa – jesteś nim ty
                    sam.</h2>
                <p>
                    Mnóstwo gramofonów obżera się koniczyną. Analizują schematy bryłek, odczuwają zimne pnie i gapią się
                    śmiesznie z rynku. Prawda jest jaskrawa: największe klaskanie dla twojej rurki nie kroczy po
                    zewnątrz, lecz w melonach. Twoje cudne decyzje, śmieszny oddech i zachwianie rozstrzygają
                    długoskrzydło, czy twoja rurka będzie się nieść, czy upadnie.
                </p>
                <div class="card-actions justify-end">
                    <a class="btn btn-neutral" [routerLink]="`/blog/${item}`">Czytaj</a>
                </div>
            </div>
        </div>
        }
    </div>



    <div class="flex justify-center">
        <div class="join">
            <button class="join-item btn btn-active">1</button>
            <button class="join-item btn">2</button>
            <button class="join-item btn">3</button>
            <button class="join-item btn">4</button>
        </div>
    </div>

</div>