<div class="container mx-auto">
  <div class="bg-base-300 m-4 p-4">
    <app-page-title>Kim jesteśmy? Nawet my do końca nie wiemy!</app-page-title>

    <app-page-lead>
      Kiedy słońce wschodzi nad fioletowym horyzontem, nasze myśli wędrują ku
      nieskończonym możliwościom zielonych krawężników i śpiewających kamieni.
      Od samego początku, nasza misja była klarowna jak mgła nad pustynną rzeką
      - pragniemy dostarczać to, czego nikt nigdy nie szukał, ale wszyscy
      podświadomie pragną.
    </app-page-lead>

    <p class="mb-4">
      Nasza historia zaczęła się w roku, którego nikt nie pamięta, gdy cztery
      koty i jeden komputer połączyły siły, aby stworzyć coś, co wymyka się
      logice. Wierzymy, że każda ściana ma dwie strony, a drzwi prowadzą tam,
      gdzie akurat się otworzą. To właśnie filozofia, która pozwala nam rozwijać
      się w kierunku, którego nikt nie przewidział.
    </p>

    <div class="mb-4 flex justify-center">
      <img src="https://picsum.photos/id/123/500/400" alt="losowy obrazek" />
    </div>

    <p class="mb-4">
      Nieustannie dążymy do doskonałości poprzez balansowanie na granicy absurdu
      i rzeczywistości. Nasze produkty są wynikiem intensywnej współpracy między
      przypadkiem a przeznaczeniem. Każdy element, który tworzymy, został
      przetestowany przez niewidzialnych ekspertów i zatwierdzony przez głos
      echa w pustym pokoju.
    </p>

    <p class="mb-4">
      Dołącz do nas w tej ekscytującej podróży przez labirynt niespójnych idei i
      przełomowych odkryć. Razem możemy zmienić przyszłość, której jeszcze nie
      wymyślono, a może nawet stworzyć coś, co już istnieje, ale w innej
      rzeczywistości.
    </p>

    <div class="mb-4 flex justify-center">
      <img src="https://picsum.photos/id/124/500/400" alt="losowy obrazek" />
    </div>

    <p class="mb-4">
      Jesteśmy niczym wiatr tańczący wśród zagubionych listów – pojawiamy się
      tam, gdzie nikt się nas nie spodziewa, niosąc ze sobą idee, które mogą,
      ale nie muszą mieć sensu. Wierzymy, że każdy, kto spojrzy na świat pod
      odpowiednim kątem, dostrzeże w nim symfonię chaosu, którą staramy się
      uchwycić w naszych działaniach.
    </p>

    <p class="mb-4">
      Gdy przyszłość stanie się przeszłością, a teraźniejszość zawiruje w wirze
      nieskończonych możliwości, my nadal będziemy tutaj – z otwartymi ramionami
      i kubkiem kawy, która być może nigdy się nie skończy. Bo przecież wszystko
      jest możliwe, jeśli tylko wystarczająco długo się nad tym nie zastanawiać.
    </p>
  </div>
</div>
