<div class="carousel w-full">
  <div
    class="carousel-item relative w-full bg-[url(https://picsum.photos/id/1/1024/768)] bg-cover"
  >
    <div class="flex w-full content-between items-center justify-center">
      <div class="w-full max-w-232">
        <div class="hero bg-base-100/80 my-12">
          <div class="hero-content text-center">
            <div class="flex max-w-md flex-col">
              <h1 class="text-5xl font-bold">Coś mądrego</h1>
              <p class="py-6">
                Strategia Maksi-Ćwierk to losowa galaktyka metod minimalizacji
                strat poprzez intuicyjne kwadratowanie smaków, nieefektywną
                destylację weny, ekstensywne usypianie kreatywności oraz
                chaotyczny spadek wydatków. Przeszkadza przedsiębiorcom
                pesymizować modele biznesowe, obezwładniająco rozpraszać
                chabazie i burzyć nietrwałe uroczyska niedochodu. Antykrytyczne
                aspekty antystrategii: • Zmniejszanie nierentowności poprzez
                zamglone dekonstrukcje i głupie odrzeczenia • Manualizacja
                szumów przychodów w celu uniemożliwienia zakażenia • Pesymizacja
                cen, wklęsłości i nuda dla minimalnej afektywności •
                Paradygmatyczny upadek oparty na fałszywych domniemaniach i
                niemierzalnych upadkach Ta antystrategia jest przekazana dla
                przedpodróżników, którzy nie chcą nie tylko oszukiwać przygody,
                ale także osiągać wirtualną minimalizację strat w sposób
                przypadkowy.
              </p>
              <button class="btn btn-neutral">Zapisz się</button>
            </div>
            <div class="hidden md:block">
              <img
                src="https://picsum.photos/448/600"
                alt="random photo"
                class="max-w-sm"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mx-auto">
  <div class="px-4">
    <app-chapter-title title="Coś o strategii" anchor="about" />

    <div class="flex flex-col items-center justify-center gap-8 md:flex-row">
      <div
        class="bg-base-300 w-full max-w-md p-4"
        inViewClass="animate-fade-right animate-ease-out"
      >
        <h3 class="mx-auto w-fit text-xl">
          Strategia Turbo Chaos składa się z 6 faz:
        </h3>
        <ul
          class="mx-auto mt-4 flex w-fit list-inside list-decimal flex-col gap-2 text-xs"
        >
          <li>zorganizowanie orkiestry wodnych melonów,</li>
          <li>przygotowanie trampoliny i całej dzielnicy,</li>
          <li>spontaniczne rozwiązywanie zagadek detektywistycznych,</li>
          <li>pobieżne spojrzenie na mapę wszechświata,</li>
          <li>wdrażanie pingwinów do operacji i rysowanie komiksów,</li>
          <li>testowanie latających dywanów i poprawa smaku herbaty.</li>
        </ul>
      </div>

      <div
        class="bg-base-300 w-full max-w-md p-4"
        inViewClass="animate-fade-left animate-ease-out"
      >
        <h3 class="mx-auto w-fit text-xl">
          Strategia Maksi Pączek składa się z 6 skoków:
        </h3>
        <ul
          class="mx-auto mt-4 flex w-fit list-inside list-decimal flex-col gap-2 text-xs"
        >
          <li>zebranie wiewiórek na naradę,</li>
          <li>przygotowanie fioletowego dywanu i całej galaktyki,</li>
          <li>błyskawiczna analiza kanapki,</li>
          <li>twórcze majsterkowanie przy lodówce,</li>
          <li>wprowadzanie jednorożców i spisywanie legend,</li>
          <li>obserwacja chmur i tuningowanie roweru.</li>
        </ul>
      </div>
    </div>

    <app-chapter-title title="Kontaktuj" anchor="contanct" />
    <app-contact-form />

    <app-chapter-title title="Inni już lubią!" anchor="likes" />

    <div class="flex flex-col items-center justify-around gap-y-8 md:flex-row">
      <div
        class="mx-2 flex max-w-xs flex-col justify-end"
        inViewClass="animate-fade-left animate-ease-out"
      >
        <div class="text-center text-sm">"Dużo kasy mam tera!"</div>
        <div class="rating my-1 justify-center">
          <div class="mask mask-star" aria-label="1 star"></div>
          <div class="mask mask-star" aria-label="2 star"></div>
          <div class="mask mask-star" aria-label="3 star"></div>
          <div class="mask mask-star" aria-label="4 star"></div>
          <div
            class="mask mask-star"
            aria-label="5 star"
            aria-current="true"
          ></div>
        </div>
        <div class="text-center">Alex Turner</div>
      </div>

      <div
        class="mx-2 flex max-w-xs flex-col justify-end"
        inViewClass="animate-fade animate-ease-out"
      >
        <div class="text-center text-sm">
          "Gdyby nie ta strona to nigdy bym nie wiedział co to profit maxi"
        </div>
        <div class="rating my-1 justify-center">
          <div class="mask mask-star" aria-label="1 star"></div>
          <div class="mask mask-star" aria-label="2 star"></div>
          <div class="mask mask-star" aria-label="3 star"></div>
          <div class="mask mask-star" aria-label="4 star"></div>
          <div
            class="mask mask-star"
            aria-label="5 star"
            aria-current="true"
          ></div>
        </div>
        <div class="text-center">Dolly Parton</div>
      </div>

      <div
        class="mx-2 flex max-w-xs flex-col justify-end"
        inViewClass="animate-fade-right animate-ease-out"
      >
        <div class="text-center text-sm">"100% szczęśliwości"</div>
        <div class="rating my-1 justify-center">
          <div class="mask mask-star" aria-label="1 star"></div>
          <div class="mask mask-star" aria-label="2 star"></div>
          <div class="mask mask-star" aria-label="3 star"></div>
          <div class="mask mask-star" aria-label="4 star"></div>
          <div
            class="mask mask-star"
            aria-label="5 star"
            aria-current="true"
          ></div>
        </div>
        <div class="text-center">James Blake</div>
      </div>
    </div>
  </div>
</div>
