<div class="carousel w-full">
  <div class="carousel-item relative w-full bg-[url(https://picsum.photos/id/1/1024/768)] bg-cover">
    <div class="flex w-full content-between items-center justify-center">
      <a class="btn btn-circle m-4">
        <fa-icon [icon]="faAngleLeft"></fa-icon>
      </a>
      <div class="w-full max-w-232">
        <div class="hero bg-base-100/80 my-12">
          <div class="hero-content text-center">
            <div class="max-w-md">
              <h1 class="text-5xl font-bold">Coś mądrego</h1>
              <p class="py-6">
                Strategia Maksi-Ćwierk to losowa galaktyka metod minimalizacji
                strat poprzez intuicyjne kwadratowanie smaków, nieefektywną
                destylację weny, ekstensywne usypianie kreatywności oraz
                chaotyczny spadek wydatków. Przeszkadza przedsiębiorcom
                pesymizować modele biznesowe, obezwładniająco rozpraszać
                chabazie i burzyć nietrwałe uroczyska niedochodu. Antykrytyczne
                aspekty antystrategii: • Zmniejszanie nierentowności poprzez
                zamglone dekonstrukcje i głupie odrzeczenia • Manualizacja
                szumów przychodów w celu uniemożliwienia zakażenia • Pesymizacja
                cen, wklęsłości i nuda dla minimalnej afektywności •
                Paradygmatyczny upadek oparty na fałszywych domniemaniach i
                niemierzalnych upadkach Ta antystrategia jest przekazana dla
                przedpodróżników, którzy nie chcą nie tylko oszukiwać przygody,
                ale także osiągać wirtualną minimalizację strat w sposób
                przypadkowy.
              </p>
              <button class="btn btn-neutral">Zapisz się</button>
            </div>
            <img src="https://picsum.photos/448/600" alt="random photo" class="max-w-sm" />
          </div>
        </div>
      </div>
      <a class="btn btn-circle m-4">
        <fa-icon [icon]="faAngleRight"></fa-icon>
      </a>
    </div>
  </div>
</div>

<div class="mx-auto max-w-232">
  <h2 class="mt-32 mb-8 text-center text-3xl">Coś o strategii <a href="#about" id="about"><fa-icon
        [icon]="faLink" /></a>
  </h2>

  <div class="flex justify-center">
    <div class="mr-4 w-md">
      <h3 class="text-xl">Strategia Turbo Chaos składa się z 6 faz:</h3>
      <ul class="mx-6 mt-4 flex list-decimal flex-col gap-2 text-xs">
        <li>zorganizowanie orkiestry wodnych melonów,</li>
        <li>przygotowanie trampoliny i całej dzielnicy,</li>
        <li>spontaniczne rozwiązywanie zagadek detektywistycznych,</li>
        <li>pobieżne spojrzenie na mapę wszechświata,</li>
        <li>wdrażanie pingwinów do operacji i rysowanie komiksów,</li>
        <li>testowanie latających dywanów i poprawa smaku herbaty.</li>
      </ul>
    </div>

    <div class="ml-4 w-md">
      <h3 class="text-xl">Strategia Maksi Pączek składa się z 6 skoków:</h3>
      <ul class="mt-4 ml-6 flex list-decimal flex-col gap-2 text-xs">
        <li>zebranie wiewiórek na naradę,</li>
        <li>przygotowanie fioletowego dywanu i całej galaktyki,</li>
        <li>błyskawiczna analiza kanapki,</li>
        <li>twórcze majsterkowanie przy lodówce,</li>
        <li>wprowadzanie jednorożców i spisywanie legend,</li>
        <li>obserwacja chmur i tuningowanie roweru.</li>
      </ul>
    </div>
  </div>

  <h2 class="mt-32 mb-8 text-center text-3xl">Kontaktuj <a href="#contact" id="contact"><fa-icon [icon]="faLink" /></a>
  </h2>

  <div class="flex justify-center">
    <div class="mr-4 w-md">
      <img src="https://picsum.photos/448/394" alt="random photo" />
    </div>

    <div class="ml-4 w-md">
      <fieldset class="fieldset">
        <label class="fieldset-label">
          Imie i Nazwisko
          <fa-icon [icon]="faAsterisk"></fa-icon>
        </label>
        <input type="text" class="input w-full" placeholder="Imie i Nazwisko" />

        <label class="fieldset-label">
          E-mail
          <fa-icon [icon]="faAsterisk"></fa-icon>
        </label>
        <input type="email" class="input w-full" placeholder="E-mail" />

        <label class="fieldset-label">Pytanie</label>
        <textarea type="text" class="textarea h-40 w-full" placeholder="Pytanie"></textarea>

        <button class="btn btn-neutral mt-4">Ślij</button>
      </fieldset>
    </div>
  </div>

  <h2 class="mt-32 mb-8 text-center text-3xl">Inni już lubią! <a href="#likes" id="likes"><fa-icon
        [icon]="faLink" /></a>
  </h2>

  <div class="flex justify-around">
    <div class="mx-2 flex w-xs flex-col justify-end">
      <div class="text-center text-sm">"Dużo kasy mam tera!"</div>
      <div class="rating my-1 justify-center">
        <div class="mask mask-star" aria-label="1 star"></div>
        <div class="mask mask-star" aria-label="2 star"></div>
        <div class="mask mask-star" aria-label="3 star"></div>
        <div class="mask mask-star" aria-label="4 star"></div>
        <div class="mask mask-star" aria-label="5 star" aria-current="true"></div>
      </div>
      <div class="text-center">Alex Turner</div>
    </div>

    <div class="mx-2 flex w-xs flex-col justify-end">
      <div class="text-center text-sm">
        "Gdyby nie ta strona to nigdy bym nie wiedział co to profit maxi"
      </div>
      <div class="rating my-1 justify-center">
        <div class="mask mask-star" aria-label="1 star"></div>
        <div class="mask mask-star" aria-label="2 star"></div>
        <div class="mask mask-star" aria-label="3 star"></div>
        <div class="mask mask-star" aria-label="4 star"></div>
        <div class="mask mask-star" aria-label="5 star" aria-current="true"></div>
      </div>
      <div class="text-center">Dolly Parton</div>
    </div>

    <div class="mx-2 flex w-xs flex-col justify-end">
      <div class="text-center text-sm">"100% szczęśliwości"</div>
      <div class="rating my-1 justify-center">
        <div class="mask mask-star" aria-label="1 star"></div>
        <div class="mask mask-star" aria-label="2 star"></div>
        <div class="mask mask-star" aria-label="3 star"></div>
        <div class="mask mask-star" aria-label="4 star"></div>
        <div class="mask mask-star" aria-label="5 star" aria-current="true"></div>
      </div>
      <div class="text-center">James Blake</div>
    </div>
  </div>
</div>