<div class="carousel w-full">
  <div id="slide1" class="carousel-item relative w-full bg-[url(https://picsum.photos/id/1/1024/768)] bg-cover">
    <div class="container mx-auto flex content-end items-center justify-between">
      <a href="#slide3" class="btn btn-circle scroll-smooth">
        <fa-icon [icon]="faAngleLeft"></fa-icon>
      </a>
      <div class="card bg-base-100/80 w-lg my-12">
        <div class="card-body">
          <h2 class="card-title">Coś mądrego</h2>
          <p>
            Strategia Maksi-Ćwierk to losowa galaktyka metod minimalizacji strat
            poprzez intuicyjne kwadratowanie smaków, nieefektywną destylację
            weny, ekstensywne usypianie kreatywności oraz chaotyczny spadek
            wydatków. Przeszkadza przedsiębiorcom pesymizować modele biznesowe,
            obezwładniająco rozpraszać chabazie i burzyć nietrwałe uroczyska
            niedochodu. Antykrytyczne aspekty antystrategii: • Zmniejszanie
            nierentowności poprzez zamglone dekonstrukcje i głupie odrzeczenia •
            Manualizacja szumów przychodów w celu uniemożliwienia zakażenia •
            Pesymizacja cen, wklęsłości i nuda dla minimalnej afektywności •
            Paradygmatyczny upadek oparty na fałszywych domniemaniach i
            niemierzalnych upadkach Ta antystrategia jest przekazana dla
            przedpodróżników, którzy nie chcą nie tylko oszukiwać przygody, ale
            także osiągać wirtualną minimalizację strat w sposób przypadkowy.
          </p>
          <div class="card-actions justify-end">
            <button class="btn btn-neutral">Zapisz się!</button>
          </div>
        </div>
      </div>
      <a href="#slide2" class="btn btn-circle scroll-smooth">
        <fa-icon [icon]="faAngleRight"></fa-icon>
      </a>
    </div>
  </div>
  <div id="slide2" class="carousel-item relative w-full bg-[url(https://picsum.photos/id/2/1024/768)] bg-cover">
    <div class="container mx-auto flex content-end items-center justify-between">
      <a href="#slide1" class="btn btn-circle scroll-smooth">
        <fa-icon [icon]="faAngleLeft"></fa-icon>
      </a>
      <div class="card bg-base-100/80 w-lg my-12">
        <div class="card-body">
          <h2 class="card-title">Coś szybkiego</h2>
          <p>
            Strategia Maksi-Ćwierk to losowa galaktyka metod minimalizacji strat
            poprzez intuicyjne kwadratowanie smaków, nieefektywną destylację
            weny, ekstensywne usypianie kreatywności oraz chaotyczny spadek
            wydatków. Przeszkadza przedsiębiorcom pesymizować modele biznesowe,
            obezwładniająco rozpraszać chabazie i burzyć nietrwałe uroczyska
            niedochodu. Antykrytyczne aspekty antystrategii: • Zmniejszanie
            nierentowności poprzez zamglone dekonstrukcje i głupie odrzeczenia •
            Manualizacja szumów przychodów w celu uniemożliwienia zakażenia •
            Pesymizacja cen, wklęsłości i nuda dla minimalnej afektywności •
            Paradygmatyczny upadek oparty na fałszywych domniemaniach i
            niemierzalnych upadkach Ta antystrategia jest przekazana dla
            przedpodróżników, którzy nie chcą nie tylko oszukiwać przygody, ale
            także osiągać wirtualną minimalizację strat w sposób przypadkowy.
          </p>
          <div class="card-actions justify-end">
            <button class="btn btn-neutral">Zapisz się!</button>
          </div>
        </div>
      </div>
      <a href="#slide3" class="btn btn-circle scroll-smooth">
        <fa-icon [icon]="faAngleRight"></fa-icon>
      </a>
    </div>
  </div>
  <div id="slide3" class="carousel-item relative w-full bg-[url(https://picsum.photos/id/3/1024/768)] bg-cover">
    <div class="container mx-auto flex content-end items-center justify-between">
      <a href="#slide2" class="btn btn-circle scroll-smooth">
        <fa-icon [icon]="faAngleLeft"></fa-icon>
      </a>
      <div class="card bg-base-100/80 w-lg my-12">
        <div class="card-body">
          <h2 class="card-title">Coś fajnego</h2>
          <p>
            Strategia Maksi-Ćwierk to losowa galaktyka metod minimalizacji strat
            poprzez intuicyjne kwadratowanie smaków, nieefektywną destylację
            weny, ekstensywne usypianie kreatywności oraz chaotyczny spadek
            wydatków. Przeszkadza przedsiębiorcom pesymizować modele biznesowe,
            obezwładniająco rozpraszać chabazie i burzyć nietrwałe uroczyska
            niedochodu. Antykrytyczne aspekty antystrategii: • Zmniejszanie
            nierentowności poprzez zamglone dekonstrukcje i głupie odrzeczenia •
            Manualizacja szumów przychodów w celu uniemożliwienia zakażenia •
            Pesymizacja cen, wklęsłości i nuda dla minimalnej afektywności •
            Paradygmatyczny upadek oparty na fałszywych domniemaniach i
            niemierzalnych upadkach Ta antystrategia jest przekazana dla
            przedpodróżników, którzy nie chcą nie tylko oszukiwać przygody, ale
            także osiągać wirtualną minimalizację strat w sposób przypadkowy.
          </p>
          <div class="card-actions justify-end">
            <button class="btn btn-neutral">Zapisz się!</button>
          </div>
        </div>
      </div>
      <a href="#slide1" class="btn btn-circle scroll-smooth">
        <fa-icon [icon]="faAngleRight"></fa-icon>
      </a>
    </div>
  </div>
</div>

<div class="container max-w-232 mx-auto">
  <h2 class="mt-12 mb-8 text-center text-3xl">Coś o strategii</h2>

  <div class="flex justify-center">
    <div class="card card-border mr-4 w-md">
      <div class="card-body">
        <h3 class="text-xl">Strategia Turbo Chaos składa się z 6 faz:</h3>
        <ul class="mx-6 my-4 flex list-decimal flex-col gap-2 text-xs">
          <li>zorganizowanie orkiestry wodnych melonów,</li>
          <li>przygotowanie trampoliny i całej dzielnicy,</li>
          <li>spontaniczne rozwiązywanie zagadek detektywistycznych,</li>
          <li>pobieżne spojrzenie na mapę wszechświata,</li>
          <li>wdrażanie pingwinów do operacji i rysowanie komiksów,</li>
          <li>testowanie latających dywanów i poprawa smaku herbaty.</li>
        </ul>
      </div>
    </div>


    <div class="card card-border ml-4 w-md">
      <div class="card-body">
        <h3 class="text-xl">Strategia Maksi Pączek składa się z 6 skoków:</h3>
        <ul class="my-4 ml-6 flex list-decimal flex-col gap-2 text-xs">
          <li>zebranie wiewiórek na naradę,</li>
          <li>przygotowanie fioletowego dywanu i całej galaktyki,</li>
          <li>błyskawiczna analiza kanapki,</li>
          <li>twórcze majsterkowanie przy lodówce,</li>
          <li>wprowadzanie jednorożców i spisywanie legend,</li>
          <li>obserwacja chmur i tuningowanie roweru.</li>
        </ul>
      </div>
    </div>
  </div>


  <h2 class="mt-24 mb-8 text-center text-3xl">Kontaktuj</h2>

  <div class="flex justify-center">
    <div class="mr-4 w-md">
      <img src="https://picsum.photos/448/394" alt="random photo" />
    </div>

    <div class="ml-4 w-md">
      <fieldset class="fieldset">
        <label class="fieldset-label">
          Imie i Nazwisko
          <fa-icon [icon]="faAsterisk"></fa-icon>
        </label>
        <input type="text" class="input w-full" placeholder="Imie i Nazwisko" />

        <label class="fieldset-label">
          E-mail
          <fa-icon [icon]="faAsterisk"></fa-icon>
        </label>
        <input type="email" class="input w-full" placeholder="E-mail" />

        <label class="fieldset-label">Pytanie</label>
        <textarea type="text" class="textarea h-40 w-full" placeholder="Pytanie"></textarea>

        <button class="btn btn-neutral mt-4">Ślij</button>
      </fieldset>
    </div>
  </div>

  <h2 class="mt-24 mb-8 text-center text-3xl">Inni już lubią!</h2>

  <div class="mb-4 text-center">Czytaj jakie opinie se wymyśliliśmy</div>

  <div class="flex justify-around">
    <div class="card card-border w-xs">
      <div class="card-body">
        <div class="text-center">"Dużo kasy mam tera!"</div>
        <div class="rating justify-center">
          <div class="mask mask-star" aria-label="1 star"></div>
          <div class="mask mask-star" aria-label="2 star"></div>
          <div class="mask mask-star" aria-label="3 star"></div>
          <div class="mask mask-star" aria-label="4 star"></div>
          <div class="mask mask-star" aria-label="5 star" aria-current="true"></div>
        </div>
        <div class="text-center">Alex Turner</div>
      </div>
    </div>

    <div class="card card-border w-xs">
      <div class="card-body">
        <div class="text-center">
          "Gdyby nie ta strona to nigdy bym nie wiedział co to profit maxi"
        </div>
        <div class="rating justify-center">
          <div class="mask mask-star" aria-label="1 star"></div>
          <div class="mask mask-star" aria-label="2 star"></div>
          <div class="mask mask-star" aria-label="3 star"></div>
          <div class="mask mask-star" aria-label="4 star"></div>
          <div class="mask mask-star" aria-label="5 star" aria-current="true"></div>
        </div>
        <div class="text-center">Dolly Parton</div>
      </div>
    </div>

    <div class="card card-border w-xs">
      <div class="card-body">
        <div class="text-center">"100% szczęśliwości"</div>
        <div class="rating justify-center">
          <div class="mask mask-star" aria-label="1 star"></div>
          <div class="mask mask-star" aria-label="2 star"></div>
          <div class="mask mask-star" aria-label="3 star"></div>
          <div class="mask mask-star" aria-label="4 star"></div>
          <div class="mask mask-star" aria-label="5 star" aria-current="true"></div>
        </div>
        <div class="text-center">James Blake</div>
      </div>
    </div>
  </div>
</div>