<div class="container mx-auto">
  <div class="bg-base-100 p-4">
    <app-page-title>Blog ze świata strategii</app-page-title>

    <app-page-lead>
      Na fioletowym parapecie siedział żółty balon filozoficznie rozważający
      sens kiszonego ogórka w kontekście międzygalaktycznych podróży chomików.
      Blog ten, jak puchaty jednorożec w kapciach, dryfuje po oceanie pomysłów,
      gdzie każda litera tańczy sambę z przecinkiem. Gdy cebula śpiewa serenady
      do tostera, wiesz, że jesteś we właściwym miejscu. Zapnij pasy i przygotuj
      się na treści, które nie mają sensu, ale mają duszę.
    </app-page-lead>

    <!-- Form to Add Article -->
    <div class="card border-base-300 border">
      <div class="card-body">
        <h2 class="card-title">Nowy artykuł</h2>
        <div class="flex flex-col gap-4">
          <input
            type="text"
            placeholder="Tytuł Artykułu"
            class="input input-bordered w-full"
          />
          <input
            type="text"
            placeholder="Ścieżka Artykułu(e.g., /article-slug)"
            class="input input-bordered w-full"
          />
          <textarea
            placeholder="Zajawka"
            class="textarea textarea-bordered w-full md:col-span-2"
          ></textarea>

          <input type="datetime-local" class="input input-bordered w-full" />

          <button class="btn btn-primary">Add Article</button>
        </div>
      </div>
    </div>

    <div class="overflow-x-auto">
      <table class="table-zebra table w-full">
        <thead>
          <tr class="">
            <th class="text-left">Tutył</th>
            <th class="text-left">Ścieżka</th>
            <th class="text-left">Zajawka</th>
            <th class="text-left">Data Publikacji</th>
            <th class="text-center">Akcje</th>
          </tr>
        </thead>
        <tbody id="articleTableBody">
          @for (post of this.blogService.page(); track post.id) {
            <tr>
              <td class="max-w-xs">
                <span class="block max-w-xs truncate">{{post.title}}</span>
              </td>
              <td class="max-w-xs">
                <span class="block max-w-xs truncate">{{post.id}}</span>
              </td>
              <td class="max-w-md">
                <span class="block max-w-md truncate">{{post.lead}}</span>
              </td>
              <td></td>
              <td class="text-center">
                <a class="btn btn-error btn-sm" [routerLink]="`/blog/${post.id}/edit`" >Edit</a>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
