<div class="container mx-auto">
  <div class="bg-base-100 p-4">
    <app-page-title>Blog ze świata strategii</app-page-title>

    <app-page-lead>
      Na fioletowym parapecie siedział żółty balon filozoficznie rozważający
      sens kiszonego ogórka w kontekście międzygalaktycznych podróży chomików.
      Blog ten, jak puchaty jednorożec w kapciach, dryfuje po oceanie pomysłów,
      gdzie każda litera tańczy sambę z przecinkiem. Gdy cebula śpiewa serenady
      do tostera, wiesz, że jesteś we właściwym miejscu. Zapnij pasy i przygotuj
      się na treści, które nie mają sensu, ale mają duszę.
    </app-page-lead>

    <label for="fileUpload">Choose a File</label>
    <input id="fileUpload" type="file" #upload />
    <button (click)="uploadFile(upload)">Upload</button>

    <div class="divider"></div>

    @for (img of this.images(); track img) {
      <p>{{ img }}</p>
    }

    <div class="divider"></div>

    <!-- Form to Add Article -->
    <div class="card border-base-300 border">
      <div class="card-body">
        <h2 class="card-title">Nowy artykuł</h2>
        <form
          class="flex flex-col gap-4"
          [formGroup]="form"
          (ngSubmit)="addArticle()"
        >
          <input
            type="text"
            formControlName="title"
            placeholder="Tytuł Artykułu"
            class="input input-bordered w-full"
          />
          <input
            type="text"
            formControlName="path"
            placeholder="Ścieżka Artykułu(np /witaj-swiecie)"
            class="input input-bordered w-full"
          />
          <textarea
            placeholder="Zajawka"
            formControlName="lead"
            class="textarea textarea-bordered w-full md:col-span-2"
          ></textarea>

          <button class="btn btn-primary" [disabled]="!form.valid">
            Dodaj Artykuł
          </button>
        </form>
      </div>
    </div>

    <div class="overflow-x-auto">
      <table class="table-zebra table w-full">
        <thead>
          <tr>
            <th class="w-max text-left">Artykuły</th>
            <th class="text-center">Akcje</th>
          </tr>
        </thead>
        <tbody id="articleTableBody">
          @for (article of this.blogService.blogArticles(); track article.id) {
            <tr>
              <td class="flex flex-col">
                <span class="block max-w-xs truncate">{{ article.title }}</span>
                <span class="block max-w-xs truncate">{{ article.path }}</span>
                <span class="block max-w-md truncate">{{ article.lead }}</span>
              </td>
              <td class="text-center">
                <a
                  class="btn btn-error btn-sm"
                  [routerLink]="`/blog/${article.id}/edit`"
                  >Edit</a
                >
                <button
                  class="btn btn-error btn-sm"
                  (click)="delArticle(article.id)"
                >
                  Delete
                </button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
