<div class="container mx-auto">
  <div class="bg-base-300 m-4 p-4">
    <app-page-title>Moja księgarnia</app-page-title>

    <app-page-lead>
      Na fioletowym parapecie siedział żółty balon filozoficznie rozważający
      sens kiszonego ogórka w kontekście międzygalaktycznych podróży chomików.
      Blog ten, jak puchaty jednorożec w kapciach, dryfuje po oceanie pomysłów,
      gdzie każda litera tańczy sambę z przecinkiem. Gdy cebula śpiewa serenady
      do tostera, wiesz, że jesteś we właściwym miejscu. Zapnij pasy i przygotuj
      się na treści, które nie mają sensu, ale mają duszę.
    </app-page-lead>

    <div class="mb-8">
      <app-search [(value)]="this.booksService.filter" />
    </div>

    <div class="mb-16 flex flex-wrap items-stretch justify-evenly gap-8">
      @for (post of this.booksService.page(); track post.id) {
        <div
          class="bg-base-200 flex h-30 w-full max-w-md flex-row items-stretch justify-between gap-2 p-2"
        >
          <img
            [src]="post.image"
            alt="Shoes"
          />
          <div class="grow overflow-y-auto">
            <div class="text-sm font-bold">{{ post.title }}</div>
            <div class="text-xs">{{ post.lead }}</div>
          </div>
          <div class="content-center">
            <div class="flex flex-col items-center justify-between">
              <div class="text-xs line-through">
                {{ post.price.min | number: "1.2-2" }}&nbsp;zł
              </div>
              <div class="text-primary w-fit font-bold">
                {{ post.price.current | number: "1.2-2" }}&nbsp;zł
              </div>
              <a class="btn btn-primary w-fit">Read</a>
              <div class="text-xs">
                {{ post.price.max | number: "1.2-2" }}&nbsp;zł
              </div>
            </div>
          </div>
        </div>
      }
    </div>

    <div class="mb-4">
      <app-paginator
        [pageCount]="this.booksService.pageCount()"
        [pageNumber]="this.booksService.pageNumber()"
        (pageChanged)="this.booksService.pageNumber.set($event)"
      />
    </div>
  </div>
</div>
