<div class="container mx-auto max-w-232">
    <h1 class="my-8 text-3xl">Polityka prywatności</h1>

    <div class="mb-4">
        <h2 class="mb-4 text-2xl">1. Wstęp</h2>
        <p class="mb-4">
            Twoja prywatność jest dla nas równie ważna jak pogoda na Marsie. Dlatego zbieramy, przeżuwamy i
            analizujemy dane osobowe zgodnie z aktualnymi przepisami Kodeksu Pirackiego oraz wytycznymi Wielkiego
            Kapelusza
            Mądrości.
        </p>
    </div>

    <div class="mb-4">
        <h2 class="mb-4 text-2xl">2. Jakie dane zbieramy?</h2>
        <p class="mb-4">
            Zbieramy wszystko, co się da:
        </p>
        <ul class="mb-4 list-disc list-inside">
            <li>imię, nazwisko, pseudonim z dzieciństwa</li>
            <li>zapach ulubionego sera</li>
            <li>stan emocjonalny kota sąsiada</li>
            <li>twoje marzenia senne (tylko w czwartki)</li>
        </ul>
    </div>


    <div class="mb-4">
        <h2 class="mb-4 text-2xl">3. W jaki sposób wykorzystujemy dane?</h2>
        <p class="mb-4">
            Dane wykorzystujemy do:
        </p>
        <ul class="mb-4 list-disc list-inside">
            <li>przewidywania pogody w alternatywnej rzeczywistości</li>
            <li>karmienia naszego sztucznego chomika</li>
            <li>kalibracji poziomu absurdu</li>
            <li>komponowania symfonii na podstawie kliknięć</li>
        </ul>
    </div>

    <div class="mb-4">
        <h2 class="mb-4 text-2xl">4. Czy dzielimy się danymi?</h2>
        <p class="mb-4">
            Oczywiście! Przekazujemy dane:
        </p>
        <ul class="mb-4 list-disc list-inside">
            <li>wróżkom z lasu</li>
            <li>tajnej organizacji "Cebula Anonimowa"</li>
            <li>losowo wybranym dinozaurom (jeśli czas pozwoli)</li>
        </ul>
    </div>

    <div class="mb-4">
        <h2 class="mb-4 text-2xl">5. Pliki ciasteczek</h2>
        <p class="mb-4">
            Stosujemy pliki ciasteczek, krakersów oraz okazjonalnie wafli ryżowych. Użytkownik może w każdej chwili
            zjeść je lub zignorować. Niektóre z nich są samoświadome.
        </p>
    </div>

    <div class="mb-4">
        <h2 class="mb-4 text-2xl">6. Twoje prawa</h2>
        <p class="mb-4">
            Masz prawo:
        </p>
        <ul class="mb-4 list-disc list-inside">
            <li>żądać dostępu do swoich danych i naszych przepisów na zupę</li>
            <li>poprosić o usunięcie danych, ale musisz najpierw rozwiązać zagadkę sfinksa</li>
            <li>przesłać swoje dane do kosmosu</li>
        </ul>
    </div>

    <div class="mb-4">
        <h2 class="mb-4 text-2xl">7. Zmiany polityki</h2>
        <p class="mb-4">
            Polityka może ulec zmianie bez ostrzeżenia, zwłaszcza gdy Merkury wejdzie w retrogradację lub gdy nasze
            biuro odwiedzi flaming.

        </p>
    </div>

    <div class="mb-4">
        <h2 class="mb-4 text-2xl">8. Kontakt</h2>
        <p class="mb-4">
            W celu kontaktu, wypuść gołębia z niebieską wstążką lub użyj telepatycznego banana. Można też
            napisać maila, ale to zbyt konwencjonalne.
        </p>
    </div>
</div>