<div class="container mx-auto">
  <div class="bg-base-100 p-4">
    <app-page-title>Moja księgarnia</app-page-title>

    <app-page-lead>
      Na fioletowym parapecie siedział żółty balon filozoficznie rozważający
      sens kiszonego ogórka w kontekście międzygalaktycznych podróży chomików.
      Blog ten, jak puchaty jednorożec w kapciach, dryfuje po oceanie pomysłów,
      gdzie każda litera tańczy sambę z przecinkiem. Gdy cebula śpiewa serenady
      do tostera, wiesz, że jesteś we właściwym miejscu. Zapnij pasy i przygotuj
      się na treści, które nie mają sensu, ale mają duszę.
    </app-page-lead>

    <h2 class="my-8 text-xl">
      <a href="sample.pdf">
        Darmowy fragment <fa-icon [icon]="faDownload" />
      </a>
    </h2>

    @if (loading()) {
      <div class="skeleton aspect-[1/1.4142] w-full"></div>
    }

    <embed
      src="sample.pdf"
      class="aspect-[1/1.4142] w-full"
      (load)="loading.set(false)"
      [class.collapse]="loading()"
    />

    <h2 class="my-8 text-xl">Kup całość</h2>
  </div>
</div>
